.barnd-logo {
  color: white;
  text-decoration: none;
  font-size: 32px;
  text-transform: uppercase;
}

.menu-item {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

@media only screen and (max-width: 767px) {
  .barnd-logo {
    font-size: 20px;
  }
}
