.ad-wrapper-row {
  padding: 80px 30px;
  margin: 80px 0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.ad-wrapper-left h2 {
  font-size: 40px;
  font-weight: 700;
}

.ad-wrapper-left p {
  font-size: 20px;
  font-weight: 700;
}

.hero-button {
  color: white;
  font-weight: 600;
  font-size: 18px;
  border: none;
  padding: 12px 30px;
  margin-top: 20px;
}
